{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <header class="header--main-page">
      <nav class="container container--70">
        {% if user.is_superuser %}
        <div class="alert alert-success" role="alert">
          You are logged in as {{user.first_name}}, here are the
          <a href="/admin/">admin pages</a> for changing content.
        </div>
        {% endif %}
        <ul class="nav--actions">
          {% if user.is_authenticated %}

          <div class="dropdown">
            <button class="btn btn-white dropdown-toggle text-muted" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Witaj {{user.username}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a href="profil/{{user.username}}" class="dropdown-item" >Profil</a>
              <a class="dropdown-item" >Ustawienia</a>
              <a href="{% url 'logout' %}" class="dropdown-item" >Wyloguj</a>
            </div>
          </div>
          {% else %}
          <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="signup/" class="btn btn--small btn--highlighted">Załóż konto</a></li>
          {% endif %}
        </ul>

        <ul>
          <li><a href="/" class="btn btn--without-border active">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="/form" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      {% block extra_header %}
      {% endblock %}
    </header>

   {% block content %}
   {% endblock %}

    <footer>
      {% block extra_footer %}
      {% endblock %}

      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2019</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-facebook.svg' %}"/></a>
          <a href="#" class="btn btn--small"><img src="{% static 'images/icon-instagram.svg' %}"/></a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
